<div class="jumbotron">
	<div class="container text-center">
		<h1>Online Store</h1>
		<p>Qua Luu Niem</p>	
	</div>
</div>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">ThIenMInh Store</a>
		</div>

	</div>
</nav>