.row.display-flex {
	display: flex;
	flex-wrap: wrap;
	background: white;

}

.row.display-flex > [class*='col-'] {
	background: white;
	
	padding-top: 5px;
	border: 1px solid #f0f0f0;
}
.row.display-flex > [class*='col-']:hover{
	background: #f9fdff;
	border: 1px solid #a4ddff;
}
